extends layout

block append head
  != js("index")

block content
  .hero-unit
    h1 Welcome to Quizzical Empire Online!
    p You want trivia! We've got trivia!
    i.icon-heart

  //- Insertion point for table or alert:
  #quiz-table-view

block templates
  #quiz-table-template
    .alert
      strong No Quizzes!
      |  Feel free to 
      a.btn.btn-primary.btn-mini(href='#') Add Some
    table.table.table-bordered.table-striped.table-condensed
      thead
        tr
          th Title
          th.span4 Created
      tbody