extends layout

block append scripts
  != js("index")

block content
  //- Insertion point for table or alert:

  .tabbable#top-level-tabs
    ul.nav.nav-tabs
      li: a(href="#quiz-table-view", data-toggle="tab") Quizzes
    .tab-content
      #quiz-table-view.tab-pane

  //- This doesn't work quite right if placed inside the "templates"
  #delete-quiz-modal.modal.fade
    .modal-header
      a.close(data-dismiss="modal") &times;
      h3 Really delete quiz?
    .modal-body
      p
        | Deletion of quiz
        strong.x-title PLACEHOLDER
        |  is immediate, and cannot be undone.
    .modal-footer
      button.btn.btn-danger(data-dismiss="modal") Delete Quiz
      button.btn(data-dismiss="modal") Close

block templates
  #quiz-table-template
    .alert
      strong.
        No Quizzes have been created yet ... feel free to start creating some!
    .limit-height
      table.table.table-bordered.table-striped.table-condensed
        thead
          tr
            th Title
            th.span3 Location
            th.span3 Created
            th.span3
        tbody
    .well
      button.btn.btn-primary.x-create-new Create New Quiz
      &nbsp;
      button.btn.x-create-test-data(data-loading-text="Loading ...").
        Create Test Quizzes
  script#quiz-table-row-template(type="text/template")
    td {{title}}
    td {{location}}
    td {{created}}
    td.dropdown
      a.btn.dropdown-toggle(data-toggle="dropdown")
        | Actions
        b.caret
      ul.dropdown-menu
        li: a(href="#")
          i.icon-refresh
          | NYI
        li: a(href="#")
          i.icon-tag
          | NYI
        li: a(href="#")
          i.icon-comment
          | NYI
        li.divider
        li: a.x-delete(href="#")
          i.icon-remove
          | Delete
  script#quiz-edit-form(type="text/template")
    .x-alert-container
    form.well(action="#")
      .control-group
        label Quiz Title
        input.span4.x-title(type="text")
        span.help-inline Title or theme for the Quiz
      .control-group
        label Location
        input.span4.x-location(type="text")
        span.help-inline Location where Quiz will take place
      div.x-rounds
      button.btn.btn-primary.x-save(data-loading-text="Saving ...") Save Quiz
      &nbsp;
      button.btn.x-cancel Cancel
   script#standard-error-alert(type="text/template")
     div.alert.alert-error.fade.in
       a.close(data-dismiss="alert", href="#") &times;
       h4.alert-heading Error!
       | {{content}}