extends layout

block append scripts
  != js("index")

block content
  //- Insertion point for table or alert:

  .tabbable#top-level-tabs
    ul.nav.nav-tabs
      li: a(href="#quiz-table-view", data-toggle="tab") Quizzes
      li: a(href="#foo", data-toggle="tab") TBA1
      li: a(href="#foo", data-toggle="tab") TBA2
      li: a(href="#foo", data-toggle="tab") TBA3
    .tab-content
      .tab-pane#quiz-table-view
      .tab-pane#foo
        strong Not Yet Implemented

  //- This doesn't work quite right if placed inside the "templates"
  #delete-quiz-modal.modal.fade
    .modal-header
      a.close(data-dismiss="modal") &times;
      h3 Really delete quiz?
    .modal-body
      p
        | Deletion of quiz
        strong.x-title PLACEHOLDER
        |  is immediate, and cannot be undone.
    .modal-footer
      button.btn.btn-danger(data-dismiss="modal") Delete Quiz
      button.btn(data-dismiss="modal") Close

block templates
  #quiz-table-template
    .alert
      strong.
        No Quizzes have been created yet ... feel free to start creating some!
    .limit-height
      table.table.table-bordered.table-striped.table-condensed
        thead
          tr
            th Title
            th.span4 Created
            th.span3
        tbody
    button.btn.btn-primary.x-create-new Create New Quiz
    //- Not happy needing this &nbsp;, but without it, the buttons are squeezed
    //- together. This doesn't happen in the Bootstrap samples and I'm not sure
    //- why.
    &nbsp;
    button.btn.x-create-test-data(data-loading-text="Loading ...").
      Create Test Quizzes
  script#quiz-table-row-template(type="text/template")
    td {{title}}
    td {{created}}
    td.dropdown
      a.btn.dropdown-toggle(data-toggle="dropdown")
        | Actions
        b.caret
      ul.dropdown-menu
        li: a(href="#")
          i.icon-refresh
          | NYI
        li: a(href="#")
          i.icon-tag
          | NYI
        li: a(href="#")
          i.icon-comment
          | NYI
        li.divider
        li: a.x-delete(href="#")
          i.icon-remove
          | Delete
