extends layout

block append scripts
  != js("index")

block content
  .hero-unit
    .row-fluid
      .span2
        img(src='/images/logo.png', alt="Quizzical Logo")
      .span10
        h1 Welcome to Quizzical Empire Online!
        p You want trivia! We've got trivia!


  //- Insertion point for table or alert:
  #quiz-table-view

block templates
  #quiz-table-template
    .alert
      strong No Quizzes!
      |  Feel free to 
      a.btn.btn-primary.btn-mini(href='#') Add Some
    table.table.table-bordered.table-striped.table-condensed
      thead
        tr
          th Title
          th.span4 Created
      tbody
  script#quiz-table-row-template(type="text/template")
    td {{title}}
    td {{created}}