!!! 5
html
    head
      block head
        title= title
        != css("/bootstrap/css/bootstrap")
        != css("style")
        != js("jquery-1.7.1")
        != js("underscore")
        != js("backbone")
  body
    div.container-fluid
      div.row-fluid
        div.span2
          block sidebar
            p
            // This is the sidebar
        div.span10
          block content
            p
              em Placeholder layout content.
          div &copy; 2012 HMLS