!!! 5
html
    head
      //- Often use block append head to add more JS/CSS to the page
      block head
        title= title
        != css("/bootstrap/css/bootstrap")
        != css("style")
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#")
            img(src="/images/logo-navbar.png")
            | Quizzical Empire
    .container-fluid
       block content
       div &copy; 2012 &nbsp;
         a(href="http://howardlewisship.com/") Howard M. Lewis Ship
    //- Divs containing templates go here, where they are invisible
    .invisible
      block templates
    //- Scripts are loaded last, at the end of the page
    //- Frustrating that Bootstrap.js and RequireJS seem to be at odds with
    //- each other.
    block scripts
      != js("jquery-1.7.1")
      != js("underscore")
      != js("backbone")
      != js("mustache")
      != js("/bootstrap/js/bootstrap")
