body {
 padding: 45px;
}

.limit-height {
  /* Found by trial and error, but fits the main Quizzes table on my iPad in landscape orientation. */
  max-height: 425px;
  overflow-y: scroll;
}

.truncate-long-text {
  text-overflow: ellipsis;
}

.modal-tall .modal-body {
    max-height: 600px;
}
